<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcast.dao.CoinZhiYaPtMapper">
  <resultMap id="BaseResultMap" type="com.itcast.bean.CoinZhiYaPt">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="qishu_id" jdbcType="INTEGER" property="qishuId" />
    <result column="total_num" jdbcType="INTEGER" property="totalNum" />
    <result column="leave_num" jdbcType="INTEGER" property="leaveNum" />
    <result column="end_time_s" jdbcType="TIMESTAMP" property="endTimeS" />
    <result column="create_time_s" jdbcType="TIMESTAMP" property="createTimeS" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="day" jdbcType="INTEGER" property="day" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, qishu_id, total_num, leave_num, end_time_s, create_time_s, status, day
  </sql>
  <select id="selectByExample" parameterType="com.itcast.bean.CoinZhiYaPtExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from coin_zhiya_pt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coin_zhiya_pt
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from coin_zhiya_pt
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.itcast.bean.CoinZhiYaPtExample">
    delete from coin_zhiya_pt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itcast.bean.CoinZhiYaPt">
    insert into coin_zhiya_pt (id, qishu_id, total_num, 
      leave_num, end_time_s, create_time_s, 
      status, day)
    values (#{id,jdbcType=INTEGER}, #{qishuId,jdbcType=INTEGER}, #{totalNum,jdbcType=INTEGER}, 
      #{leaveNum,jdbcType=INTEGER}, #{endTimeS,jdbcType=TIMESTAMP}, #{createTimeS,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{day,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.itcast.bean.CoinZhiYaPt">
    insert into coin_zhiya_pt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="qishuId != null">
        qishu_id,
      </if>
      <if test="totalNum != null">
        total_num,
      </if>
      <if test="leaveNum != null">
        leave_num,
      </if>
      <if test="endTimeS != null">
        end_time_s,
      </if>
      <if test="createTimeS != null">
        create_time_s,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="day != null">
        day,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="qishuId != null">
        #{qishuId,jdbcType=INTEGER},
      </if>
      <if test="totalNum != null">
        #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="leaveNum != null">
        #{leaveNum,jdbcType=INTEGER},
      </if>
      <if test="endTimeS != null">
        #{endTimeS,jdbcType=TIMESTAMP},
      </if>
      <if test="createTimeS != null">
        #{createTimeS,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="day != null">
        #{day,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itcast.bean.CoinZhiYaPtExample" resultType="java.lang.Long">
    select count(*) from coin_zhiya_pt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update coin_zhiya_pt
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.qishuId != null">
        qishu_id = #{record.qishuId,jdbcType=INTEGER},
      </if>
      <if test="record.totalNum != null">
        total_num = #{record.totalNum,jdbcType=INTEGER},
      </if>
      <if test="record.leaveNum != null">
        leave_num = #{record.leaveNum,jdbcType=INTEGER},
      </if>
      <if test="record.endTimeS != null">
        end_time_s = #{record.endTimeS,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTimeS != null">
        create_time_s = #{record.createTimeS,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.day != null">
        day = #{record.day,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update coin_zhiya_pt
    set id = #{record.id,jdbcType=INTEGER},
      qishu_id = #{record.qishuId,jdbcType=INTEGER},
      total_num = #{record.totalNum,jdbcType=INTEGER},
      leave_num = #{record.leaveNum,jdbcType=INTEGER},
      end_time_s = #{record.endTimeS,jdbcType=TIMESTAMP},
      create_time_s = #{record.createTimeS,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      day = #{record.day,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.itcast.bean.CoinZhiYaPt">
    update coin_zhiya_pt
    <set>
      <if test="qishuId != null">
        qishu_id = #{qishuId,jdbcType=INTEGER},
      </if>
      <if test="totalNum != null">
        total_num = #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="leaveNum != null">
        leave_num = #{leaveNum,jdbcType=INTEGER},
      </if>
      <if test="endTimeS != null">
        end_time_s = #{endTimeS,jdbcType=TIMESTAMP},
      </if>
      <if test="createTimeS != null">
        create_time_s = #{createTimeS,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="day != null">
        day = #{day,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itcast.bean.CoinZhiYaPt">
    update coin_zhiya_pt
    set qishu_id = #{qishuId,jdbcType=INTEGER},
      total_num = #{totalNum,jdbcType=INTEGER},
      leave_num = #{leaveNum,jdbcType=INTEGER},
      end_time_s = #{endTimeS,jdbcType=TIMESTAMP},
      create_time_s = #{createTimeS,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      day = #{day,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>