<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcast.dao.TjBlMapper">
  <resultMap id="BaseResultMap" type="com.itcast.bean.TjBl">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sybl" jdbcType="DECIMAL" property="sybl" />
    <result column="sxzt" jdbcType="INTEGER" property="sxzt" />
    <result column="tjds" jdbcType="INTEGER" property="tjds" />
    <result column="sx_lv" jdbcType="INTEGER" property="sxLv" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, sybl, sxzt, tjds, sx_lv
  </sql>
  <select id="selectByExample" parameterType="com.itcast.bean.TjBlExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tj_bl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tj_bl
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tj_bl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.itcast.bean.TjBlExample">
    delete from tj_bl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itcast.bean.TjBl">
    insert into tj_bl (id, sybl, sxzt, 
      tjds, sx_lv)
    values (#{id,jdbcType=INTEGER}, #{sybl,jdbcType=DECIMAL}, #{sxzt,jdbcType=INTEGER}, 
      #{tjds,jdbcType=INTEGER}, #{sxLv,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.itcast.bean.TjBl">
    insert into tj_bl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sybl != null">
        sybl,
      </if>
      <if test="sxzt != null">
        sxzt,
      </if>
      <if test="tjds != null">
        tjds,
      </if>
      <if test="sxLv != null">
        sx_lv,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sybl != null">
        #{sybl,jdbcType=DECIMAL},
      </if>
      <if test="sxzt != null">
        #{sxzt,jdbcType=INTEGER},
      </if>
      <if test="tjds != null">
        #{tjds,jdbcType=INTEGER},
      </if>
      <if test="sxLv != null">
        #{sxLv,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itcast.bean.TjBlExample" resultType="java.lang.Long">
    select count(*) from tj_bl
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tj_bl
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sybl != null">
        sybl = #{record.sybl,jdbcType=DECIMAL},
      </if>
      <if test="record.sxzt != null">
        sxzt = #{record.sxzt,jdbcType=INTEGER},
      </if>
      <if test="record.tjds != null">
        tjds = #{record.tjds,jdbcType=INTEGER},
      </if>
      <if test="record.sxLv != null">
        sx_lv = #{record.sxLv,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tj_bl
    set id = #{record.id,jdbcType=INTEGER},
      sybl = #{record.sybl,jdbcType=DECIMAL},
      sxzt = #{record.sxzt,jdbcType=INTEGER},
      tjds = #{record.tjds,jdbcType=INTEGER},
      sx_lv = #{record.sxLv,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.itcast.bean.TjBl">
    update tj_bl
    <set>
      <if test="sybl != null">
        sybl = #{sybl,jdbcType=DECIMAL},
      </if>
      <if test="sxzt != null">
        sxzt = #{sxzt,jdbcType=INTEGER},
      </if>
      <if test="tjds != null">
        tjds = #{tjds,jdbcType=INTEGER},
      </if>
      <if test="sxLv != null">
        sx_lv = #{sxLv,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itcast.bean.TjBl">
    update tj_bl
    set sybl = #{sybl,jdbcType=DECIMAL},
      sxzt = #{sxzt,jdbcType=INTEGER},
      tjds = #{tjds,jdbcType=INTEGER},
      sx_lv = #{sxLv,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>