<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcast.dao.UserBankMapper">
  <resultMap id="BaseResultMap" type="com.itcast.bean.UserBank">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="smsid" jdbcType="INTEGER" property="smsid" />
    <result column="bank" jdbcType="VARCHAR" property="bank" />
    <result column="bankname" jdbcType="VARCHAR" property="bankname" />
    <result column="usname" jdbcType="VARCHAR" property="usname" />
    <result column="cointype" jdbcType="VARCHAR" property="cointype" />
    <result column="bankdis" jdbcType="VARCHAR" property="bankdis" />
    <result column="statu" jdbcType="INTEGER" property="statu" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, smsid, bank, bankname, usname, cointype, bankdis, statu, uid
  </sql>
  <select id="selectByExample" parameterType="com.itcast.bean.UserBankExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_bank
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_bank
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_bank
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.itcast.bean.UserBankExample">
    delete from user_bank
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itcast.bean.UserBank">
    insert into user_bank (id, smsid, bank, 
      bankname, usname, cointype, 
      bankdis, statu, uid
      )
    values (#{id,jdbcType=INTEGER}, #{smsid,jdbcType=INTEGER}, #{bank,jdbcType=VARCHAR}, 
      #{bankname,jdbcType=VARCHAR}, #{usname,jdbcType=VARCHAR}, #{cointype,jdbcType=VARCHAR}, 
      #{bankdis,jdbcType=VARCHAR}, #{statu,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.itcast.bean.UserBank">
    insert into user_bank
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="smsid != null">
        smsid,
      </if>
      <if test="bank != null">
        bank,
      </if>
      <if test="bankname != null">
        bankname,
      </if>
      <if test="usname != null">
        usname,
      </if>
      <if test="cointype != null">
        cointype,
      </if>
      <if test="bankdis != null">
        bankdis,
      </if>
      <if test="statu != null">
        statu,
      </if>
      <if test="uid != null">
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="smsid != null">
        #{smsid,jdbcType=INTEGER},
      </if>
      <if test="bank != null">
        #{bank,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null">
        #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="usname != null">
        #{usname,jdbcType=VARCHAR},
      </if>
      <if test="cointype != null">
        #{cointype,jdbcType=VARCHAR},
      </if>
      <if test="bankdis != null">
        #{bankdis,jdbcType=VARCHAR},
      </if>
      <if test="statu != null">
        #{statu,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itcast.bean.UserBankExample" resultType="java.lang.Long">
    select count(*) from user_bank
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_bank
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.smsid != null">
        smsid = #{record.smsid,jdbcType=INTEGER},
      </if>
      <if test="record.bank != null">
        bank = #{record.bank,jdbcType=VARCHAR},
      </if>
      <if test="record.bankname != null">
        bankname = #{record.bankname,jdbcType=VARCHAR},
      </if>
      <if test="record.usname != null">
        usname = #{record.usname,jdbcType=VARCHAR},
      </if>
      <if test="record.cointype != null">
        cointype = #{record.cointype,jdbcType=VARCHAR},
      </if>
      <if test="record.bankdis != null">
        bankdis = #{record.bankdis,jdbcType=VARCHAR},
      </if>
      <if test="record.statu != null">
        statu = #{record.statu,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_bank
    set id = #{record.id,jdbcType=INTEGER},
      smsid = #{record.smsid,jdbcType=INTEGER},
      bank = #{record.bank,jdbcType=VARCHAR},
      bankname = #{record.bankname,jdbcType=VARCHAR},
      usname = #{record.usname,jdbcType=VARCHAR},
      cointype = #{record.cointype,jdbcType=VARCHAR},
      bankdis = #{record.bankdis,jdbcType=VARCHAR},
      statu = #{record.statu,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.itcast.bean.UserBank">
    update user_bank
    <set>
      <if test="smsid != null">
        smsid = #{smsid,jdbcType=INTEGER},
      </if>
      <if test="bank != null">
        bank = #{bank,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null">
        bankname = #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="usname != null">
        usname = #{usname,jdbcType=VARCHAR},
      </if>
      <if test="cointype != null">
        cointype = #{cointype,jdbcType=VARCHAR},
      </if>
      <if test="bankdis != null">
        bankdis = #{bankdis,jdbcType=VARCHAR},
      </if>
      <if test="statu != null">
        statu = #{statu,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itcast.bean.UserBank">
    update user_bank
    set smsid = #{smsid,jdbcType=INTEGER},
      bank = #{bank,jdbcType=VARCHAR},
      bankname = #{bankname,jdbcType=VARCHAR},
      usname = #{usname,jdbcType=VARCHAR},
      cointype = #{cointype,jdbcType=VARCHAR},
      bankdis = #{bankdis,jdbcType=VARCHAR},
      statu = #{statu,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>